<section class="profile-body">
        <div class="user-info">
            <h2 class="profile-username">{{user.username}}</h2>
            <p class="profile-funds">Balance&#58; {{user.funds}}mBTC</p>
        </div>
        <div class="col-xs-4 col-md-4">
        
        </div>
        
        <div class="col-xs-4 col-md-4">
        <p class="profile-titles">open bets | settled bets go here</p>
        </div>
        
        <div class="col-xs-4 col-md-4">
        <table class="leaderboard">
          <tr>
            <th>Market</th>
            <th>Student</th> 
            <th>Stake</th>
            <th>Pot. Returns</th>
          </tr>
            {{#each bets}}
                <tr>
                    <td id="tposition">{{this.marketname}}({{this.bet}})</td>
                    <td id="tusername">{{this.student}}</td>
                    <td id="tprofit">{{this.stake}}</td>
                    <td id="tprofit">{{this.potential}}</td>
                </tr>
            {{/each}}
        </table>
        </div>

</section>
