<section class="profile-body">
        <div class="user-info">
            <h2 class="profile-username">{{user.username}}</h2>
            <p class="profile-funds">Balance&#58; {{user.funds}}mBTC</p>
        </div>
        <div class="col-xs-6 col-md-6">
        <h2>Open Bets</h2>
        <table class="bet-table active-bets">
          <tr>
            <th>Date Placed</th>
            <th>Market</th>
            <th>Student</th> 
            <th>Stake</th>
            <th id="right-align">Pot. Returns</th>
          </tr>
            {{#each bets}}
                {{#ifeq this.settled false}}
                    <tr>
                        <td>{{date this.createdAt}}</td>
                        <td>{{this.marketname}}({{this.bet}})</td>
                        <td>{{this.student}}</td>
                        <td>{{this.stake}}</td>
                        <td id="right-align">{{this.potential}}</td>
                    </tr>
                {{/ifeq}}
            {{/each}}
        </table>
        </div>
        
    
    
    
        <div class="col-xs-6 col-md-6">
        <h2>Settled Bets</h2>
        <table class="bet-table settled-bets">
          <tr>
            <th>Date Placed</th>
            <th>Market</th>
            <th>Student</th> 
            <th>Stake</th>
            <th id="right-align">Pot. Returns</th>
          </tr>
            {{#each bets}}
            {{#ifeq this.settled true}}
                <tr>
                    <td>{{date this.createdAt}}</td>
                    <td>{{this.marketname}}({{this.bet}})</td>
                    <td>{{this.student}}</td>
                    <td>{{this.stake}}</td>
                    <td id="right-align">{{this.potential}}</td>
                </tr>
            {{/ifeq}}
            {{/each}}
        </table>
        </div>
        
        

</section>
