<section class="profile-body">
        <div class="user-info">
            <h2 class="profile-username">{{user.username}}</h2>
            <p class="profile-funds">Balance&#58; {{user.funds}}mBTC</p>
        </div>
        <div class="col-xs-5 col-md-5">
        <table class="active-bets">
          <tr>
            <th>Date Placed</th>
            <th>Market</th>
            <th>Student</th> 
            <th>Stake</th>
            <th>Pot. Returns</th>
          </tr>
            {{#each bets}}
                {{#ifeq this.settled "false"}}
                    <tr>
                        <td id="tposition">{{date this.createdAt}}</td>
                        <td id="tposition">{{this.marketname}}({{this.bet}})</td>
                        <td id="tusername">{{this.student}}</td>
                        <td id="tprofit">{{this.stake}}</td>
                        <td id="tprofit">{{this.potential}}</td>
                    </tr>
                {{/ifeq}}
            {{/each}}
        </table>
        </div>
        
    
        <div class="col-xs-2 col-md-2">

        </div>
    
    
        <div class="col-xs-5 col-md-5">
        <table class="settled-bets">
          <tr>
            <th>Date Placed</th>
            <th>Market</th>
            <th>Student</th> 
            <th>Stake</th>
            <th>Pot. Returns</th>
          </tr>
            {{#each bets}}
            {{#ifeq this.settled "true"}}
                <tr>
                    <td id="tposition">{{date this.createdAt}}</td>
                    <td id="tposition">{{this.marketname}}({{this.bet}})</td>
                    <td id="tusername">{{this.student}}</td>
                    <td id="tprofit">{{this.stake}}</td>
                    <td id="tprofit">{{this.potential}}</td>
                </tr>
            {{/ifeq}}
            {{/each}}
        </table>
        </div>
        
        

</section>
