<!doctype html>
<html lang="en" ng-app="betgrade">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- STYLE IMPORTS -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/3c387bce05.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">  
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/students.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/circle.css">
</head>
<body>
     {{#if message.length}}   
        <div class="alert alert-warning fade in" role="alert">
               <p><strong>{{message}}</strong></p>
        </div>
    {{/if}}
    
    <nav>
        <div class="main-head">
        <img id="logo-header" src="/img/betgrade.png" alt="logo"/>
        <a href="/">Home</a>
    {{#if user.username.length}}
        <a class="pull-right" href="/profile">{{user.username}}, {{user.funds}}mBTC</a>  
        <a href="/logout">Logout</a>
    {{else}}
        <button class="user-routes pull-right" onClick="location.href='/login'">LOGIN</button>
        <button class="user-routes pull-right" onClick="location.href='/signup'">REGISTER</button>
    {{/if}}
        </div>

        <div class="sub-head">
        <ul class="nav-list">
            <li><a href="/catagories/cs">COMPUTER SCIENCE 16-17</a></li>
            <li><a href="/catagories/ct">COMPUTATIONAL THINKING 16-17</a></li>
            <li><a href="/catagories/csse">COMP SCI &amp; SOFT ENG 16-17</a></li>
        </ul>
        </div>
	</nav>
    
    
    {{{ body }}}
    
    <footer>
        <p>&copy; Cieran Neeson, 2017</p>
    </footer>
    
    <div class="modal" id="myModal">
    <div class="modal-content">
    <div class="row">
        <div class="col-xs-12 col-md-12">
                <span class="close pull-right">×</span>

            <!-- BETSLIP FORM STARTS HERE -->
            <div class="panel panel-default betslip-box">
                <div>
                    <div class="row display-tr">
                        <img class="betslip-logo" src="/img/betgrade_big.png"/>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="/bet" method="post">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>BET SINGLE</label>
                                <input type="text" name="student" id="student" value="" readonly/>
                                <input type="text" name="marketname" id="marketname" value="" readonly/>
                                <input type="text" name="side" id="side" value="" readonly/>
                                <h4 name="marketname" id="marketname" value=""></h4>
                            </div>
                            <div class="col-xs-4 pull-center">
                                <div class="form-group">
                                    <label>ODDS</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bitcoin"></i></span><input autocomplete="off"
                                               class="form-control"
                                               id="odds" 
                                               name= "odds" 
                                               placeholder= "Odds" 
                                               required=""
                                               type="number"
                                               step="0.1"> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 pull-right">
                                <div class="form-group">
                                    <label>STAKE</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bitcoin"></i></span><input autocomplete="off"
                                               autofocus="" class="form-control"
                                               id="stake" name= "stake" placeholder=
                                               "mBTC" required=""
                                               type="number"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                            <div class="col-xs-4 pull-right">
                                <p>Returns:  mBTC</p>
                            </div>
                            </div>

                        <div class="row">
                            <div class="col-xs-12 bet-button">
                                <input type="submit" class="user-routes place-bet" value="Place Bet">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
    	<script src="/js/modal.js"></script>
</html>