<!doctype html>
<html lang="en" ng-app="betgrade">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- STYLE IMPORTS -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/3c387bce05.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">  
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/students.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>
<body>
     {{#if message.length}}   
        <div class="alert alert-warning fade in" role="alert">
               <p><strong>{{message}}</strong></p>
        </div>
    {{/if}}
    
    <nav>
        <div class="main-head">
        <img id="logo-header" src="/img/betgrade.png" alt="logo"/>
    {{#if user.username.length}}
        <a class="pull-right" href="/profile">{{user.username}}, {{user.funds}}mBTC</a>  
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
    {{else}}
        <button class="user-routes pull-right" onClick="location.href='/login'">LOGIN</button>
        <button class="user-routes pull-right" onClick="location.href='/signup'">REGISTER</button>
    {{/if}}
        </div>

        <div class="sub-head">
        <ul class="nav-list">
            <li><a href="/catagories/cs">COMPUTER SCIENCE 16-17</a></li>
            <li><a href="/catagories/ct">COMPUTATIONAL THINKING 16-17</a></li>
            <li><a href="/catagories/csse">CSSE FINAL YEAR 16-17</a></li>
        </ul>
        </div>
	</nav>
    
    
    {{{ body }}}
    
    <footer>
        <p>&copy; Cieran Neeson, 2016</p>
    </footer>
</body>
    	<script src="/js/modal.js"></script>
</html>