    <section class="student-body">
        <div class="content">
            <div class="col-md-3 col-xs-3 col-lg-3 info">
            <img class="student-image" src="/img/DylanDrein.jpg">
            <h3 id="student-name">Dylan Drein</h3>
            <p id="student-bio">Meme Expert. 4th Computer Science</p>
            </div>
            <div class="col-md-9 col-xs-9 col-lg-9 markets">
            
            {{# each markets}}
                <div class="market">
                <div class="row">
                    <h4 class="market-name">{{this.marketname}}</h4>    
                </div>
                <div class="row">
                <div class="col-xs-3 col-md-3 btns"><button class="addmarket btn btn-block btn-info" data-toggle="modal" data-side="Back" data-odds="{{this.back}}" data-student="{{this.student}}" data-market="{{this.marketname}}" data-target="#myModal"> {{this.back}}<br><p>{{this.btotal}}mBTC</p> </button></div>
                <div class="col-xs-3 col-md-3 btns"><button class="addmarket btn btn-block btn-danger" data-toggle="modal" data-side="Lay" data-odds="{{this.lay}}" data-student="{{this.student}}" data-market="{{this.marketname}}" data-target="#myModal"> {{this.lay}}<br><p>{{this.ltotal}}mBTC</p> </button></div>
                <div class="col-xs-3 col-md-3 col-lg-3"></div>
                <div class="col-xs-3 col-md-3 col-lg-3"></div>
                </div> 
            </div>
            {{/each}}
                
                <div class="bet-column-market">
            {{# each items}}
            <div class="col-xs-6 col-md-6"><a class="names" href="/markets/{{filename}}"> {{this.student}} </a></div>
            <div class="col-xs-3 col-md-3"><button class="addmarket btn btn-block btn-info" data-toggle="modal" data-side="Back" data-odds="{{this.back}}" data-student="{{this.student}}" data-market="{{this.marketname}}" data-target="#myModal"> {{this.back}}<br><p>{{this.btotal}}mBTC</p> </button></div>
            <div class="col-xs-3 col-md-3"><button class="addmarket btn btn-block btn-danger" data-toggle="modal" data-side="Lay" data-odds="{{this.lay}}" data-student="{{this.student}}" data-market="{{this.marketname}}" data-target="#myModal"> {{this.lay}}<br><p>{{this.ltotal}}mBTC</p> </button></div>
            {{/each}}
        </div> 

            
            
            </div>
        </div>
    </section>

