<section class="profile-body">
        <div class="user-head">
            <div class="user-info">
                <h2 class="profile-username">{{user.username}}</h2>
                <p class="profile-funds">Balance&#58; {{user.funds}}mBTC</p>
            </div>
            <div class="button-wrap">
                <button class="profile-nav" onClick="location.href='/profile'">User Stats</button>
                <button class="profile-nav active"  onClick="location.href='/profile/bet-history'">My Bets</button>
                <button class="profile-nav" onClick="location.href='/profile/leaderboard'">Leaderboard</button>
            </div>
        </div>
        <p class="pairing-notice">Note: Once your bet has been matched with another user's it will appear in the table below.</p>
        <table class="open-bets">
            <thead class="open-bets-head">
                <td>Date Placed</td>
                <td>Market</td>
                <td>Student</td>
                <td>Stake</td>
                <td>Odds</td>
                <td>Pot. Returns</td>
            </thead>
            <tbody class="open-bets-body">
            {{#if bets}}
                {{#each bets}}
                    {{#ifeq this.settled false}}
                    <tr class="clickable">
                        <td>{{date this.createdAt}}</td>
                        <td>{{this.market}}({{this.bet}})</td>
                        <td>{{this.student}}</td>
                        <td>{{this.stake}}</td>
                        <td>{{this.odds}}</td>
                        <td>{{this.potential}}</td>
                    </tr>
                    <tr class="extra">
                        <td colspan="6">
                            <p class="cashout-title">Cashout Available:</p>
                            <button class="btn-cash-out">XXXmBTC</button>
                            <p class="returns-value">Returns: XXXmBTC</p>
                        </td>
                    </tr>
                    {{/ifeq}}
                {{/each}}
            {{else}}
                <td colspan="6" class="no-bets-found">
                    <p class="no-bets">You have no matched bets. Please come back later.</p>
                </td>
            {{/if}}        
            </tbody>
        </table>
</section>
