<section class="profile-body">
        <div class="user-head">
            <div class="user-info">
                <h2 class="profile-username">{{user.username}}</h2>
                <p class="profile-funds">Balance&#58; {{user.funds}}mBTC</p>
            </div>
            <div class="button-wrap">
                <button class="profile-nav" onClick="location.href='/profile'">User Stats</button>
                <button class="profile-nav active"  onClick="location.href='/profile/bet-history'">Bet History</button>
                <button class="profile-nav" onClick="location.href='/profile/leaderboard'">Leaderboard</button>
            </div>
        </div>
        <h4>Open Bets</h4>
        <table class="open-bets">
            <thead class="open-bets-head">
                <td>Date Placed</td>
                <td>Market</td>
                <td>Student</td>
                <td>Stake</td>
                <td>Odds</td>
                <td>Potential Returns</td>
            </thead>
            <tbody class="open-bets-body">
            {{#each bets}}
                {{#ifeq this.settled false}}
                <tr class="clickable">
                    <td>{{date this.createdAt}}</td>
                    <td>{{this.marketname}}({{this.bet}})</td>
                    <td>{{this.student}}</td>
                    <td>{{this.stake}}</td>
                    <td>{{this.odds}}</td>
                    <td>{{this.potential}}</td>
                </tr>
                <tr class="extra">
                    <td colspan="1">
                        <p>Cashout Available:</p>
                    </td>
                    <td colspan="2">
                        <button class="btn-cash-out">XXXmBTC</button>
                    </td>
                    <td colspan="3">
                        <p>Returns: XXXmBTC</p>
                    </td>
                </tr>
                {{/ifeq}}
            {{/each}}    
            </tbody>
        </table>
</section>
