<section class="profile-body">
        <div class="user-head">
            <div class="user-info">
                <h2 class="profile-username">{{user.username}}</h2>
                <p class="profile-funds">Balance&#58; {{user.funds}}mBTC</p>
            </div>
            <div class="button-wrap">
                <button class="profile-nav" active onClick="location.href='/profile'">User Stats</button>
                <button class="profile-nav" onClick="location.href='/profile/bet-history'">Bet History</button>
                <button class="profile-nav" onClick="location.href='/profile/leaderboard'">Leaderboard</button>
            </div>
        </div>

        <table class="leaderboard">
          <tr>
            <th>Rank</th>
            <th>Username</th> 
            <th id="tprofit">Profit(+/-)</th>
          </tr>
            {{#each users}}
                <tr>
                    <td id="tposition">{{inc @index}}</td>
                    <td id="tusername">{{this.username}}</td>
                    <td id="tprofit">{{this.profit}}</td>
                </tr>
            {{/each}}
        </table>

</section>
