<section class="profile-body">
        <div class="user-info">
            <h2 class="profile-username">{{user.username}}</h2>
            <p class="profile-funds">Balance&#58; {{user.funds}}mBTC</p>
        </div>

            <div class="col-xs-4 col-md-4">
            <div class="c100 p{{user.winrate}} dark green">
                <span>{{user.winrate}}%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
                <p class="stats-text win">Win Rate (&#37;)</p>
            </div>
            </div>
                
            <div class="col-xs-4 col-md-4">
            <div class="c100 p100 dark orange">
                <span>{{user.profit}}</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
                <p class="stats-text profit">Profit/Loss</p>
            </div>            
            </div>
            
            <div class="col-xs-4 col-md-4">
            <div class="c100 p100 dark">
                <span>{{user.highest}}</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
                <p class="stats-text payout">Highest Payout</p>
            </div>
            </div>
    
</section>
